body {
  padding: 20px;
  margin: auto;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.me {
  width: 150px;
}

.projects-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.projects-list li:before {
  content: "🗺️";
}
.projects-list li:nth-child(2)::before {
  content: "🚀";
}
.projects-list li:nth-child(3)::before {
  content: "🖌️";
}

.links-list li {
  padding-bottom: 10px;
}

a:visited {
  color: blue;
}
